<style type="text/css">
  .std {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    /*top: 100px;*/
    /*position: relative;*/
    /*background: yellowgreen;*/
    text-align: center;
    line-height: 100px
  }

  .log {
    /*position: relative;*/
    /*background: #f590c5;*/
    /*width: 680px;*/
    height: 300px;
    overflow: auto;
    margin: 0 auto;
    border: 1px solid black;
  }

  .send_container {
    margin: 0 auto;
    display: none;
  }

</style>

<script type="text/javascript">
  var area1;
  $(function () {
      $("#DataToSend").keypress(function(evt)
      {
          if (evt.keyCode == 13)
          {
              $("#SendData").click();
              evt.preventDefault();
          }
      })
  });

  bkLib.onDomLoaded(function() {
      area1 = new nicEditor().panelInstance('DataToSend');
  });
</script>


<div style="text-align: center;">
  <button id="chat_btn" chat="0" sama="1" class="std" type="button" onclick="subscript()">connect</button>
  自动加入：<%= check_box_tag 'auto_connect',1,true %><br>

</div>



<div id='LogContainer' class="log">

</div>

<div id='SendDataContainer' class="send_container">

  <textarea  id="DataToSend" style="height: 100px;width: 800px;"></textarea>


  <button id='SendData' type="button" onclick="send_message()">发送</button>


</div>

<!--<div class="std" style="width: 600px;height: 400px;background: wheat">-->

<!--</div>-->












