

<div style="width: 400px;background: yellowgreen;padding-top: 40px;text-align: center;height: 400px;vertical-align: middle;line-height: 80px;margin:0 auto;font-size: 30px;font-weight: bold;">

  <%= @days1 %><br><br>
  <%= @percent %>%

</div>


