<h1 style="color: blue;font-weight: bold;">
  此邮件还在优化中，请各位提出改进建议
</h1>
<hr>
<h1 style="color: blue;font-weight: bold;font-size: 15px;">
  此邮件是依据上次讨论的rubocop规则，汇总的问题列表
</h1>
<hr>
<h1 style="color: blue;font-weight: bold;font-size: 30px;">
  如果您以前使用过非公司邮箱提交代码，请将邮箱信息反馈给我（huxiaoyang@udesk.cn），做一下合并
</h1>
<hr>
<h2>
  每个开发人员，已经创建了对应的SonarQube账号<br>
  <br>


  <span style="color: red;font-weight: bold;font-size: 20px;">
    举例：xiaoming@udesk.cn <br>
    sonar账号为：xiaoming<br>
      密码统一为：udesk123
  </span><br>

  <hr>
  <span style="color: red;font-weight: bold;">登录后，请先修改密码！<br>
  登录后，请先修改密码！<br>
  登录后，请先修改密码！<br></span>
  <hr>

  邮件中的问题链接如果无法访问，请联系自己的项目leader开通对应项目权限。<br>
  如果项目leader也无权限，请联系我，将其加入管理员组。
  <hr>
</h2>

<table>
  <% @info.each do |info|  %>
    <tr><%= raw(info) %></tr>
  <% end %>
</table>

