<br>
<table>
  <tr style="border-bottom: 1px solid grey;">
    <td>海豹墙</td>
    <td>幸运值</td>
    <td></td>
  </tr>
  <% bloodlines.each do |bl| %>
    <tr>
      <td><%= bl.name %></td>
      <td>&nbsp;&nbsp;<span title="<%= bl.remark %>"><%= bl.total_score %></span></td>
      <td>
        <% if bl.title.present? %>
          <% bl.title.split(',').uniq.compact.each do |title| %>
            <span class="badge badge-warning"><%= title %></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>