<style type="text/css">
  .std {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px
  }

  .log {
    min-height: 500px;
    overflow: auto;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 20px 20px;
    max-height: 700px;
  }

  .send_container {
    margin: 0 auto;
    display: none;
  }

  .drop + input + span {
    display: block;
  }

  .drop + input:checked + span {
    display: none;
  }


</style>

<script type="text/javascript">
    $(function () {
        subscript_push()
    })
</script>




<div id='LogContainer' class="log">

</div>









