<div style="margin: 0 auto;border: 1px solid black;min-height: 300px;margin-top: 200px;text-align: center">
  <%= form_tag("/books/es_search", method: 'post', remote: true) do %>
    <%= text_field_tag :name %>
    <%= submit_tag '提交' %>
  <% end %>

  <ul id="test_es">
    <%= render partial: 'book', locals: {:books => @books} %>
  </ul>
</div>
