<style>
  .s1{
    font-size: 14px;border: 1px solid #338af9;border-radius: 2px;padding: 5px;line-height: 22px;color: #338af9
  }
    li{
      line-height: 30px;
    }
</style>
<div style="width: 1024px;margin: 0 auto;padding-top: 200px;">

  <h2>无法找到该文件</h2>
  <hr>

  <ul>
    <li>可能原因如下:
    <ul>
      <li><span  class="s1">您访问的路径有误</span></li>
      <li><span class="s1">您上传的文件不符合要求,已被删除</span>
      <ul>
        <li>以下类型的文件不允许上传：
        <ul>
          <li>exe可执行文件</li>
          <li>伪装的html文件</li>
          <li>其他违规文件</li>
        </ul></li>
      </ul>
      </li>
    </ul>
    </li>
  </ul>

<hr>
  <ul><li style="color: blue;">如有疑问，请联系售后人员</li></ul>





























</div>
