<style>
  .s1{
    font-size: 14px;border: 1px solid #338af9;border-radius: 2px;padding: 5px;line-height: 22px;color: #338af9
  }
    li{
      line-height: 30px;
    }
</style>
<div style="width: 1024px;margin: 0 auto;padding-top: 200px;">

  <h2>无法找到该文件</h2>
  <hr>

  <ul>
    <li>可能原因如下:
    <ul>
      <li><span class="s1">无法识别该链接地址</span></li>
      <li><span class="s1">文件存在违规情况，无法访问</span>
      </li>
    </ul>
    </li>
  </ul>

<hr>
  <ul><li style="color: blue;">如有疑问，请联系售后人员</li></ul>





























</div>
