<div style="width: 1024px;margin: 0 auto;padding-top: 300px;color: red;font-weight: bold;font-size: 30px;">

  您好，您上传的文件不符合要求，已被删除。<br>
<br>
  以下类型的文件不允许上传：<br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.exe可执行文件<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.伪装的html文件<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.其他违规文件<br>

  <br>
  <br>
  <span style="color: blue">如有疑问，请联系售后人员。</span>


</div>
