<div style="font-size: 30px;font-weight: bolder;">先打卡！</div>
<div style="font-size: 60px;font-weight: bolder;">先打卡！!</div>
<div style="font-size: 90px;font-weight: bolder;">先打卡！!!</div>
<div style="font-size: 120px;font-weight: bolder;">先打卡！!!!</div>
<div style="font-size: 150px;font-weight: bolder;">先打卡！!!!!</div>
<div style="font-size: 180px;font-weight: bolder;">先打卡！!!!!!</div>
